---
---

@import "{{ site.theme }}";

/* Your overrides go below */
header img[src$="/assets/img/Headshot_circle.png"] {
  width: 150px !important;   /* adjust */
  height: auto !important;
  max-width: none !important;
}
