---
---

@import "{{ site.theme }}";

/* Your overrides go below */
@media screen and (min-width: 961px) {
  header {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
  }

  section {
    overflow-y: auto;
    max-height: calc(100vh - 100px);
  }
}

header {
  text-align: center;
}

header img[src$="/assets/img/Headshot_circle.png"] {
  width: 165px !important;   /* adjust */
  height: auto !important;
  max-width: none !important;
}

footer {
  display: none;
}

.sidebar-gallery {
  margin-top: 20px;
}

.sidebar-gallery img {
  width: 100%;
  height: auto;
  margin-bottom: 12px;
  border-radius: 4px;
}
